section.deals 
    .deals__head
        .deals__head-title 
            h3 Best Real Estate Deals
            p Colonel gravity get thought fat smiling add but. Wonder twenty hunted and put income set desire expect.

        button View All Property

    .deals__filter 
        ul.deals__filter-list 
            li Residential Property
            li Commercial Property
            li Agriculture Property
            li Industrial Property

    .deals__img
        .deals__img-item 
            .deals__img-badge
                span Featured
                span 3D
            .img-container
                img(src="@img/deal-1.jpg", alt="House")

        .deals__img-item 
            .deals__img-badge
                span Featured
            .img-container
                img(src="@img/deal-2.jpg", alt="House")

        .deals__img-item
            .deals__img-badge
                span Featured
            .img-container
                img(src="@img/deal-3.jpg", alt="House")