section.featured 
    h3 Featured Listing of the Week
    
    .featured__container 
        .featured__container-images
            .img-container.img-building  
                img(src="@img/featured-img.png", alt="Building")

            .img-container.img-office
                img(src="@img/featured-img2.png", alt="Office")

        .featured__container-text.text 
            .text__container
                h4 The and collecting for the motionless difficulty son.

                p Conveying or northward offending admitting perfectly my. Colonel gravity get thought fat smiling add but difficult situations.

                ul.text__container-data 
                    li 
                        span Budget
                        span Confidential
                    li 
                        span Size
                        span 1200 m2
                    li 
                        span Type
                        span Office
                ul.text__container-data
                    li 
                        span Status 
                        span Done
                    li 
                        span Location 
                        span Switzerland
                    li 
                        span Flat 
                        span 8 Room
                
                button YES! I WANT BOOK “OFFICE PACKAGE”