header.header
    div.header__content

        span.logo SmartSpace

        ul.header__content-nav
            li 
                a(href="#") Home
            li 
                a(href="#")  About
            li 
                a(href="#")  Service
            li 
                a(href="#")  Portfolio
            li 
                a(href="#")  Blog
            li 
                a(href="#")  Contact