section.hero-page  
    .hero-page__content

        .hero-page__content-wrapper.wrapper
            .wrapper__text
                span RESIDENTIAL & OFFICE SPACES
                h1 Smart Living Style for Smart People
                p Much did had call new drew that kept. Limits expect wonder law she. Now has you views woman noisy match money rooms.
            .wrapper__input
                label
                    input(type="text" placeholder="Enter Zipcode to search properties")
                    svg.svg-social(width='15' height='15')
                        use(xlink:href='@img/svg-sprite.svg#icon-icon-input')
                button Search Now!

        
        .hero-page__content-img.img
            .img-container 
                img(src="@img/header-image.png", alt="building")


        .hero-page__content-social.social
            ul.social__list 
                li 
                    svg.svg-social(width='20' height='20')
                        use(xlink:href='@img/svg-sprite.svg#icon-facebook')
                li
                    svg.svg-social(width='20' height='20')
                        use(xlink:href='@img/svg-sprite.svg#icon-instagram')
                li
                    svg.svg-social(width='20' height='20')
                        use(xlink:href='@img/svg-sprite.svg#icon-twitter')
                li
                    svg.svg-social(width='20' height='20')
                        use(xlink:href='@img/svg-sprite.svg#icon-linkedin')
        .hero-page__content-side
            .side-bg 
        
    .hero-page__partner
        span Our Amazing Partners

        ul.hero-page__partner-list
            li 
                svg.svg-social(width='70' height='23')
                    use(xlink:href='@img/svg-sprite.svg#icon-buzz')
            li
                svg.svg-social(width='70' height='23')
                    use(xlink:href='@img/svg-sprite.svg#icon-chase')
            li
                svg.svg-social(width='70' height='23')
                    use(xlink:href='@img/svg-sprite.svg#icon-microsoft')
            li
                svg.svg-social(width='70' height='23')
                    use(xlink:href='@img/svg-sprite.svg#icon-gucc')
            li
                svg.svg-social(width='70' height='23')
                    use(xlink:href='@img/svg-sprite.svg#icon-airbnb')
            li
                svg.svg-social(width='70' height='23')
                    use(xlink:href='@img/svg-sprite.svg#icon-uber')

