section.mailing-list 
    .mailing-list__title
        h2 Get Our Newsletter
        h4 To join the worldwide community

    .mailing-list__input
        .form 
            .form__group.field
                input#name.form__field(type='text' placeholder='Email' name='mail' required='')
                label.form__label(for='mail')  Email 

            .form__btn
                button(type="submit") Send Now 