section.process 
    h3  How it works?

    .process__container 
        .process__container-item.icon 
            .icon__lily 
                img(src="@img/icon-1.png", alt="Research")
            h4 Research Suburbs
            p Wonder twenty hunted and put income set desire expect. Am cottage calling.
        
        .process__container-line.dots 
            .dots__lily 
            .dots__line 
            .dots__blue
        
        .process__container-item.icon 
            .icon__blue 
                img(src="@img/icon-2.png", alt="Instant")
            h4 Instant Valuation
            p Conveying or northward offending admitting perfectly my. Colonel gravit and moonlight.
        
        .process__container-line.dots 
            .dots__blue 
            .dots__line 
            .dots__lily
        
        .process__container-item.icon 
            .icon__pink 
                img(src="@img/icon-3.png", alt="Property")
            h4 Track Property
            p Moderate children at of outweigh it. Unsatiable it considered invitation he travelling insensible.
        
