section.testimonials
    .testimonials__title 
        h3 Loved by businesses, and individuals across the globe.

    .testimonials__items.owl-carousel
        .testimonials__items-card.card
            .card__container 
                .img-container.card__container-img 
                    img(src="@img/rating.png", alt="Rating")
                
                .card__container-text 
                    p  Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita qui sunt earum commodi necessitatibus laudantium.
                
                .card__container-user 
                    .img-container.card__user-img 
                        img(src="@img/user-1.png", alt="User")
                    .card__user-name 
                        span Jane Cooper
                        span Los Angeles, CA

        .testimonials__items-card.card
            .card__container
                .img-container.card__container-img 
                    img(src="@img/rating.png", alt="Rating")
                
                .card__container-text 
                    p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum tempore laudantium culpa porro iure dignissimos!
                
                .card__container-user 
                    .img-container.card__user-img 
                        img(src="@img/user-2.png", alt="User")
                    .card__user-name 
                        span Robert Fox
                        span New York City, NY

        .testimonials__items-card.card
            .card__container
                .img-container.card__container-img 
                    img(src="@img/rating.png", alt="Rating")
                
                .card__container-text 
                    p  Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam non, laboriosam perferendis asperiores quod maxime?
                
                .card__container-user 
                    .img-container.card__user-img 
                        img(src="@img/user-3.png", alt="User")
                    .card__user-name 
                        span Leslie Alexander
                        span Buffalo, NJ

    .testimonials__info
        .testimonials__info-company.company 
            ul.company__list 
                li 
                    svg.svg-social(width='70' height='23')
                        use(xlink:href='@img/svg-sprite.svg#icon-airbnb')
                li
                    svg.svg-social(width='70' height='23')
                        use(xlink:href='@img/svg-sprite.svg#icon-cisco')
                li
                    svg.svg-social(width='70' height='23')
                        use(xlink:href='@img/svg-sprite.svg#icon-ebay')
                li
                    svg.svg-social(width='70' height='23')
                        use(xlink:href='@img/svg-sprite.svg#icon-uber')
                li
                    svg.svg-social(width='70' height='23')
                        use(xlink:href='@img/svg-sprite.svg#icon-microsoft')

        .testimonials__info-feedback
            p Give us a Call 1-888-111-2222 and we can set you up, or 
                a(href="#")   check our pricing plans
