.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    &__content {
        padding: 35px;
        @include flexbox($jc: space-around, $ai: center);
        gap: 11rem;

        &-nav {
            @include flexbox();
            gap: 2.8125rem;

            a {
                color: $black;
                font-weight: $wbold;

                &:hover{
                    text-decoration: underline;
                    transition: .7s;
                }
            }
        }
    }
}


@media screen and (max-width: 526px) {
    .header{
        &__content{
            gap: 0;
            justify-content: space-between;
        }
    }
}