body {
    font-family: 'Manrope', sans-serif;
    color: $main;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
}

.logo {
    font-size: 23px;
    font-weight: $wtitle;
    color: $text;
}

.small-logo {
    display: none;
}

.img-container {
    max-width: 100%;
    height: auto;
    display: block;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.open {
    display: flex !important;
}

button:hover {
    opacity: .8;
    transition: .6s;
}

h2 {
    font-weight: $wbold;
    font-size: 45px;
}

h3 {
    font-size: calc(30px + 10 * (100vw / 1280));
    font-weight: $wh2;
    color: $black;
}

h4 {
    font-size: 22px calc(18px + 4 * (100vw / 1280));
    font-weight: $wh2;
}


@media screen and (max-width: 526px) {
    .hide {
        display: none;
    }

    .small-logo {
        display: inline;
    }
}