//Colors

$main: #333333;
$text: #31353B;
$black: #000;
$orange: #FF9900;
$lily-bg: #BDCCFF;
$btn: #F85A47;
$lily: #9672FF;
$blue: #4DDFFD;
$pink: #F2B8EC;

//Weight fonts

$wtitle: 800;
$wbold: 700;
$wh2: 600;