//Colors

$main: #333333;
$text: #31353B;
$black: #000;
$white: #fff;
$orange: #FF9900;
$lily-bg: #BDCCFF;
$btn: #F85A47;
$lily: #9672FF;
$blue: #4DDFFD;
$pink: #F2B8EC;
$gray: #9b9b9b;
$badge: rgba(0, 0, 0, 0.4);
$featured-bg: #F1FFFF;
$link: rgba(44, 189, 231, 1);
$company: #666666;
$line:#DEDFE1;

//Weight fonts

$wtitle: 800;
$wbold: 700;
$wh2: 600;